<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.humor.sincelejotour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="locked" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HotelActivity"
            android:label="@string/title_activity_hotel"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BarActivity"
            android:label="@string/title_activity_bar"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_hotel_d"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotelsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BarsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RestaurantsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>